<ion-header class="toolbar">
  <ion-toolbar>
    <ion-title>
      <div class="page-title">Perfil</div>
      <div class="page-sub-title">Online</div>
    </ion-title>

    <ion-button fill="outline" slot="end">
      Editar
      <ion-icon name="create"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src={{usuario.foto}} />

      <ion-card-title class="perfil-title">
        <div>{{this.usuario.nome}}</div>
        <div>{{this.usuario.local}}</div>
      </ion-card-title>

      <!-- <ion-card-subtitle class="perfil-subtitle"></ion-card-subtitle> -->
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon size="large" name="calendar"></ion-icon>
          <ion-label text-wrap>Idade: {{this.usuario.idade}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon size="large" name="pin"></ion-icon>
          <ion-label text-wrap>Local Nascimento: {{this.usuario.localNasc}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon size="large" name="medical"></ion-icon>
          <ion-label text-wrap>Aniversário: {{this.usuario.dataNasc}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon size="large" name="paper"></ion-icon>
          <ion-label text-wrap>Biografia: {{this.usuario.biografia}}</ion-label>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>
</ion-content>