ion-card {
  position: relative;
  text-align: left;
}

ion-card-header, ion-card-content{
    padding: 0px;
}
ion-card-title, ion-card-subtitle {
    padding: 10px;
}
ion-label{
    padding-left: 10px;
}

.toolbar {
  padding: 0px 4px 0px 4px;
}

.perfil-title {
  position: absolute;
  font-weight: bold;
  bottom: 5%;
}

.perfil-subtitle {
  position: absolute;
  bottom: 3%;
}

.page-title{
  color: #000;
  
}
.page-sub-title{
  color: green;
  font-size : .7em;
}