<ion-header>
  <ion-toolbar>
    <ion-title>Timeline</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let p of posts; let i = index">
    <ion-item>
      <ion-avatar item-start>
        <img [src]="p.usuario.foto">
      </ion-avatar>

      <h3>{{p.usuario.nome}}</h3>
      <h4>{{p.data}}</h4>
    </ion-item>

    <img [src]="p.img">

    
    <ion-card-content>
      <p>{{p.texto}}</p>
    </ion-card-content>

    <ion-row class="ion-justify-content-center">
        <ion-col size="3">
          <ion-button icon-start fill="clear" size="small">
            <ion-icon name="thumbs-up"></ion-icon>
            <div>{{p.upVotes}}</div>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="coment-button" icon-start fill="clear" size="small">
            <ion-icon name="text"></ion-icon>
            <div>{{p.comentarios.length}} comentários</div>
          </ion-button>
        </ion-col>
        <ion-col>
            <ion-button icon-start fill="clear" size="small">
              <ion-icon name="thumbs-down"></ion-icon>
              <div>{{p.downVotes}}</div>
            </ion-button>
          </ion-col>
      </ion-row>
  </ion-card>
</ion-content>