<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="timeline">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Timeline</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="config">
      <ion-icon name="options"></ion-icon>
      <ion-label>Config</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
